*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-around;
    background: gray;
    margin-bottom: 0px;
    padding: 20px;


}
.item{
    display: flex;
    text-decoration:none;
    text-align: center;
    font-size: 30px;
    list-style: none;
    gap: 15px;
  font-style: italic;


}
.banner{
    height: 100vh;
background-image: url('../image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
background-blend-mode: overlay;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
display: flex;
align-items: center;

}
.banner-info{
    color: white;
    font-size: 30px;
}
.paragraph{
    width: 50%;
    margin: auto;
    padding: 20px;
}
.btn{
    margin: 0px;
    background-color: red;
    border: 0px;
  padding: 25px;
  border-radius: 5px;
  
}
.button{
    padding: 25px;
    border-radius: 5px;
    border: 0px;
}

.service-container{
    height: 100vh;
    background-image: url('../image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
display: flex;
align-items: center;
padding: 20px;
}
.description{
    color: white;
}
.logo{
    background-color: white;
    width: 150px;
    height: 150px;
    padding: 50px;
    
   text-align: center;
    border-radius: 5px;
    margin-right: 5px;
   
}
.icon{
    width: 70px;
    align-items: center;
}

.wrt{
    width: 50%;
    padding: 5px;
    font-size: 30px;
}
.v{
    margin-top: 20px;
}
.a{
    border-radius: 100px;
    
}
.author{
    display: flex;
    align-items: center;
    gap: 9px;
padding-left: 2px;
}


